/* -----------------------------------------------------------------------------
 * ICON
 */


.c-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: -.125em;

  svg {
    width: auto;
    max-width: 1em;
    height: 1em;

    [fill],
    polygon {
      fill: currentColor;
    }

    [stroke] {
      stroke: currentColor;
    }
  }
}