/* -----------------------------------------------------------------------------
 * CONFIG
 */

@import "../settings/settings";
@import "../tools/tools";
@import "../foundations/foundations";


/* -----------------------------------------------------------------------------
 * VENDORS
 */

@import "../vendor/vendor";


/* -----------------------------------------------------------------------------
 * BASE
 */

@import "../generic/generic";
@import "../elements/elements";


/* -----------------------------------------------------------------------------
 * ABSTRACTIONS
 */

@import "../animations/animations";
@import "../objects/objects";


/* -----------------------------------------------------------------------------
 * CONTENT
 */

@import "../components/components";


/* -----------------------------------------------------------------------------
 * SCOPES
 */

@import "../scopes/scopes";


/* -----------------------------------------------------------------------------
 * OVERRIDES
 */

@import "../utilities/utilities";



body {
  @include breakpoint(s) {
    color: red;
  }
}

a {
  @include breakpoint(s) {
    color: red;
  }
}
