@layout('layouts.docs.default')

@section('body')
    @set('pageTitle', 'Documentation')

    @markdown
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat quisquam, quis asperiores fugit architecto blanditiis dicta culpa velit obcaecati!

        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque fugiat quisquam, quis asperiores fugit architecto blanditiis dicta culpa velit obcaecati!
    @endmarkdown
@endsection